<nav class="absolute top-0 z-50 flex justify-end w-full gap-4 px-2 py-3 text-white shadow-md bg-slate-900">
  <a routerLink="/pokemons/page/1" routerLinkActive="text-blue-500 underline" class="hover:underline">Pokemons</a>
  <a routerLink="/about" routerLinkActive="text-blue-500 underline" class="hover:underline">About</a>
  <a routerLink="/contact" routerLinkActive="text-blue-500 underline" class="hover:underline">Contact</a>
  <a routerLink="/pricing" routerLinkActive="text-blue-500 underline" class="hover:underline">Pricing</a>
</nav>